h1, blockquote {
  display: block;
  font-family: 'Abril Fatface', cursive;
  color: #222;
}
header {
  position: relative;
}
img {
  display: block;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
#headerContainer {
  display: block;
  position: absolute;
  bottom: 20px;
  left: 25%;
}
h1 {
  font-size: 38px;
}
.bigger {
  font-size: 78px;
  text-align: left;
  display: block;  
}
main {
  margin-top: 60px;
  position: relative;
  line-height: 36px;
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Josefin Sans', sans-serif;
}
p, ul {
  font-size: 20px;
  color: #222;
  margin-top: 20px;
}
blockquote {
  background: #444;
  color: white;
  position: relative;
  width: 100%;
  padding: 50px 50px 50px 50px;
  font-size: 50px;
  text-align: left;
  line-height: 160%;
  margin: 50px -50px 50px -50px;
}

blockquote::before {
  content: '”'; 
  transform: scale(-1, -1);
  position: absolute;
  font-size: 150px;
  top: -45px;
  left: 2px;
}

h2 {
  text-transform: uppercase;
}
h3 {
  font-size: 24px;
}
.smaller {
  font-size: 16px;
  line-height: 26px;
}
h4 {
  font-family: 'Merriweather', italic;
  font-size: 15px;
  line-height: 0;
}
hr {
  border: none;
  background-color: #222;
  height: 4px;
  margin-top: 70px;
  margin-bottom: 70px;
}